<ul>
    @foreach (Deportistas item in ViewBag.Deportista)
    {
        <li>@item.Nombre</li>
        <li>@item.Apellido</li>
        <li>@item.FechaDeNacimiento</li>
        <li>
            <img src='@item.Foto'>
        </li>
        <li><a href='@Url.Action("VerDetalleDeportista","Home", new {idDeportista= item.IdDeportista})'>Ver detalles del Deportista</a></li>
        <li><a href='@Url.Action("AgregarDeportista","Home", new {idDeportista= item.IdDeportista})'>Agregar Deportista</a></li>


    }
</ul>