<ul>
    <li>@ViewBag.Deportista.IdDeportista</li>
    <li>@ViewBag.Deportista.Apellido</li>
    <li>@ViewBag.Deportista.Nombre</li>
    <li>@ViewBag.Deportista.FechaDeNacimiento</li>
    <li>
        <img src='@ViewBag.Deportista.Foto'>
    </li>

</ul>