<h1>@ViewBag.Deporte.Nombre</h1>

<ul>
    @foreach (Deportistas item in ViewBag.Deportista)
    {
        <li>@item.Nombre</li>
        <li>@item.Apellido</li>
        <li>@item.FechaDeNacimiento</li>
        <li>
            <img src='@item.Foto'>
        </li>
    }
</ul>